confluent-kafka
fastapi[standard]
fastapi-controllers
gtts 
minio
moviepy==1.0.3 
numpy
opencv-python 
passlib[bcrypt]
peewee
pendulum
pillow 
psycopg2-binary
pydantic
pydub
pyjwt
python-dotenv
redis[hiredis]
uvicorn
wave
